body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/img-paissagem.jpg);
    background-size: cover;
}

.tela-login {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    transition: all 0.5s;

}

input:focus{
    border-radius: 16px;
}

button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: deepskyblue;
    font-weight: bold;
    transform: scale(1.1);
}
